* {
	font-family: 'Montserrat', san-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: snow;
}




.container-fluid {
	padding-right: 0;
	padding-left: 0;
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/learning.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 0;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	scroll-behavior: smooth;
}



@media (max-width: 767.99px){

	.container-fluid {
		padding-bottom: 50px;
	}

	.abtContainer {
		position: relative;
		overflow: auto;
	}
}



/* custom scroll */

@media (min-width: 768px) {
		.container-fluid::-webkit-scrollbar{
			width: 10px;	
		}
		
		
		.container-fluid::-webkit-scrollbar-track, .event::-webkit-scrollbar-track {
			background: transparent; 
		}
		
		.container-fluid::-webkit-scrollbar-thumb, .event::-webkit-scrollbar-thumb{
			background: #f1f1f170; 
			border-radius: 30px;	
		}
	

}


.coursesContainer {
	overflow: auto;
}



.navbar, .jumbotron{
	background-color: transparent;
}

.navbar {
	position: sticky;
	top:0;
	box-shadow: 0 -1px 3px snow;
	z-index: 1000;
}





/*to hide content when scrolled*/
.navbarScroll {
   background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/learning.jpg');
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/*hide content on scroll mobile*/
@media (max-width: 767.99px) {
	.navbar {
	   background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/learning.jpg');
		background-attachment: fixed;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
		
	
}




@keyframes colorChange {
	0%	{color: snow; border-color: snow }
	17% {color: #bf0b10; border-color: #bf0b10}
	35% {color: snow; border-color: snow}
	42% {color: #ffe936;  border-color: #ffe936}
	70% {color: snow; border-color: snow}
	87% {color: #25b732; border-color: #25b732}
	100% {color: snow; border-color: snow}
}




.navbar-brand  > i {
		border: 1px solid snow;
		padding-right: 6px;
		padding-left: 3px;
		border-radius: 3px;  
		text-align: center;
		color:snow;
		animation-name: colorChange; 
		animation-duration:20s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
}



.navbar-dark .navbar-nav .nav-link {
	color: rgba(250,250,250,.9);

}
.navbar-dark .navbar-nav .nav-link:hover {
	color: snow;
}

#login:hover {
	color: rgb(5,5,5);
	background-color: rgba(250,250,250,.6);
	border-color: rgba(250,250,250,.6);
}

#signup {
	background-color: rgba(250,250,250,.9);
	border-radius: .25rem;
	color: rgb(5,5,5);
}

@media (max-width: 767.99px){
	#signup {margin-top: 15px;}
}


#signup:hover {
	background-color: rgba(250,250,250,.6);
}


.nav-link {
	text-align: center;
}



.nav-item + .nav-item{
	margin-left: 10px;
}

.activelink {
	text-decoration: underline;
}


.main {
	z-index: -100;

}


.jumbotron {
	height: 100vh;
	padding-top: 40px;
}

.jumbotron * {
	font-family: 'Raleway';
}


.indexhr {
	background-color: snow;
	animation-name: colorChange; 
	animation-duration:20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;}

.mainTitle {
	font-size: 3rem;
}

.welcomeText{
	line-height: 3.5rem;
	font-size: 2rem;
	text-align: center;
}



.btncontainer {
	height: 60px;
	padding: 0;
	margin: auto;
	width: 100%; 
	text-align: center;
}






@media (min-width: 768px) {
	.jumbotron {
		padding-top: 100px;
	}

	.welcomeText span {
		line-height: 100px; 
		font-family: "Montserrat";
	}


	.btncontainer > .btn {
		font-size: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem; 

	}
}

@media (max-width: 321px) {
	.btncontainer {
		bottom: 40px;
		height: 60px;
		text-align: center;
	}

	.btncontainer > .btn {
		font-size: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem; 
	}

	.jumbotron {
		padding-top: 10px;
	}


	.welcomeText{
		font-size: 1.5rem;
	}



} 


.flexContainer {
	height: calc(100vh - 58px);
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding:0 8px;
}

.flexContainer > div > div {
	border: solid 1px #ffffff82;
	border-radius: 4px;
	margin: 8px;
}



.misvis, .aboutlogo  {
	flex: 1 0 50%;
	display: flex;
	flex-flow: column nowrap;
	max-height: 100%;
}


@media (max-width: 767.99px){
	.flexContainer {
		flex-flow: column nowrap;
		justify-content: center;
		height: auto;
	}

	.flexContainer > div {
		flex: 0 0 auto;
	}

}




.abtTitle {
	margin: 0;
	font-size: 1.8rem;
	text-align: center;
	background-color: rgba(175,170,15,.7);
}

.abtText {
	margin: 0;
	padding:15px;
	text-align: center;
	white-space: pre-line;

}



.logos ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	padding: 10px;
	text-align: center;
	margin:0 auto;
}


.logos li {
	flex: 0 0 60px;
	width: 60px;
	height: 60px; 
	margin: 5px 5px;
}

.logos a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.logos img {
	max-height: 60px;
	max-width: 60px
}




#youtube, #khan,#lynda,#skillshare,#pluralsight, #brilliant {
	width: 50px;
	height: 50px;
}


@media (min-width: 470px) {
	.logos li {
		flex-basis: 17%;
		margin-left: auto;
	}
}

@media (min-width: 767px){

	.about {
		flex-basis: calc(100% - 194px);
		transition: all .3s ease-in;
		overflow: hidden;
		position: relative;
	}




	.abtText {
		background: none;
		opacity: 0;
		transition: all .3s ease-in-out;
	}

	.abtTitle {
		position: relative;
		top: calc(50% - 20px);
		transition: all .3s ease-in-out;
	}


	.about:hover {
		border-color: rgba(175,170,15,.7);	
		overflow:auto;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
	}

	.about:hover::-webkit-scrollbar { width: 0 !important }



	.about:hover .abtTitle {
		top:0;
	}

	.about:hover .abtText {
		opacity: 1;
	}


} 
/* mquery end */


.tagLine {
	text-align: center;
	font-size: 1.8rem;
	margin:0;
	padding: 0 3px;
}


.mTitle {
		background-color: rgba(20,180,80,.7);	
}

.vTitle {
		background-color: rgba(140,40,40,.7);	
}


.mStatement, .vStatement {
	padding: 15px;
	white-space: pre-line;
	text-align: center;
}


@media (min-width: 768px) {
	

	.mission, .vision {
		background: none;
		transition: all .3s ease-in;
		flex: 0 0 50%;
		max-height: calc(50% - 16px);	
		overflow: hidden;
		position: relative;
	}

	.vStatement, .mStatement {
		opacity: 0;
		transition: all .3s ease-in;
	}

	.tagLine {
		position: relative;
		top: calc(50% - 18px);
		transition: all .3s ease-in-out;
	}

	.mission:hover{
		border-color: rgba(20,180,80,.7);
	}

	.vision:hover{
		border-color: rgba(140,40,40,.7);			
	}

	.mission:hover, .vision:hover{
		overflow:auto;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
	}

	.mission:hover::-webkit-scrollbar { width: 0 !important }
	.vision:hover::-webkit-scrollbar { width: 0 !important }




	.mission:hover .tagLine, .vision:hover .tagLine{
		top:0;
	}


	.mission:hover .mStatement, .vision:hover .vStatement {
		opacity: 1;
	} 


	.about .Scroll {
		background-color: rgba(175,170,15,.7);
	}

	.mission .Scroll {
		background-color: rgba(20,180,80,.7);
	}

	.vision .Scroll {
		background-color: rgba(140,40,40,.7);
	}


	/* custom scrolls */
	.Scroll {
		position: absolute;
		top: 34px;
		right: 4px;
		width: 3px;
		height: 0; /*initial height to be adjusted by JS*/
		border-radius: 2px;
	}



}


/*carousel styling*/


#cTitle {
	font-family: 'Raleway' !important;
	font-size: 1.6rem;
	color: #f1f1f1;
	margin: 0;
}
@media (max-width: 767.99px){
	#cTitle {
		font-size: 1.2rem;
	}
}


.carousel {
	margin-top: 10px;
	text-align: center;
}

.carouselContent {
	text-align: center;
}


.cimgContainer {
	position: relative;
	display: inline-block;
	margin: 10px;
	max-width: 900px;
	border-radius: 15px;
	overflow: hidden;
	background: rgba(50,50,50,.3);
}



.cimgContainer img {
	position: relative;
	z-index: -100;
	width: 100%;
}


.carousel-caption{
	bottom: auto;
	left: auto;
	right: auto;
	width: 100%;
	padding: 0 30px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s ease-in;
}

.carousel-caption p {
	font-family: "Raleway";
	white-space: pre-line;
	line-height: 2rem;
}



@media(max-width: 767.99px){
	.cimgContainer {
		background: rgba(50,50,50,.5);
	}
	.carousel-caption{
		opacity: 1;
		max-width: 100%;
	}
	.carousel-caption p {
		display: none;
	}


}




.carousel-indicators {
	position: relative;
	border-bottom: 4px solid #695033;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	max-width: 140px;
	padding-bottom: 2px;
	width: auto;
	justify-content: center;
	margin: 0 auto 15px auto;
}

.carousel-indicators li {
	box-sizing: border-box;
	height: 45px;
	width: 18px;
	margin: 0;
	border-radius: 2px;
	transition: transform .2s ease-in-out;
	border-width: 5px 1px 35px 1px;
	border-style: solid;
}


.carousel-indicators li::before{
	content: '';
	display: block;	
	height: 1px;
	background-color: #3F3F3F;
	width: 14px;
	position: relative;
	top: 2px;
	left: 1px;
}


.carousel-indicators li::after{
	content: '';
	display: block;
	height: 2px;
	background-color: white;
	width: 18px;
	position: relative;
	left:-1px;
	top: 33px;
}

.carousel-indicators .ciedx {
	border-color: maroon;
}

.carousel-indicators .cicoursera {
	border-color: #2a73cc;
}

.carousel-indicators .ciudemy {
	border-color: #ec5252;
}


.carousel-indicators .cilynda {
	border-color: #f1ad0e;
}

.carousel-indicators .ciytube {
	border-color: #ff0000;
}


.carousel-indicators .active {
	transform: translateY(-10px);
	box-shadow: -1px 1px 4px darkgray;
}	


.carousel-control-next {
		right: -30px;
	}

.carousel-control-prev {
		left: -30px;
	}




.cimgContainer:hover {
	background: rgba(0,0,0,.6);
} 

.cimgContainer:hover .carousel-caption{
	opacity: 1
}



.titleEdx, .titleEdx:hover {
	text-decoration: underline;
	text-decoration-color: maroon;

}
.titleCoursera, .titleCoursera:hover {
	text-decoration: underline;
	text-decoration-color: #2a73cc;
}
.titleUdemy, .titleUdemy:hover {
	text-decoration: underline;
	text-decoration-color: #ec5252;
}
.titleLynda, .titleLynda:hover {
	text-decoration: underline;
	text-decoration-color: #f1ad0e;
}
.titleYoutube, .titleYoutube:hover {
	text-decoration: underline;
	text-decoration-color: #ff0000;
}


/*carousel end*/



/*subjects styling*/

.subjectHeader{
	text-align: center;
	margin: 15px auto 0 auto;
}

.subjects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: stretch;
	margin: 0 20px;
	position: sticky;
	top: 56px;
	padding-top: 5px;

	/*bg fix*/
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/learning.jpg');
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100;
}


@media (min-width: 768px){
	.subjects {top:58px;}
}

.subjectItem {
	flex:1 0 33%;
	padding:5px;
}



.subjectItem div {
	border: 1px solid white;
	border-radius: 5px;
	height: 100%;
	text-align: center;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.subjectItem h3 {
	margin:0;
	padding: 0;
	text-align: center;
	font-family: "Raleway";
	font-size: 1.5rem;
}

@media (max-width: 550px) {
	.subjectItem h3 {
		font-size: 1.3rem;	
	}
}




/*backgrounds*/



a, a:hover{
	color: snow;
}

.subjectItem a:hover {
	text-decoration-color: snow;
} 

.activeSubject {
	text-decoration: underline;
}

.comSci {
	background-image:radial-gradient(rgba(0,0,0,.7),rgba(0,0,0,.3) 90%),url('../images/subjects/comsci.jpeg'); 
}
.infoTech {
	background-image:radial-gradient(rgba(0,0,0,.5),rgba(0,0,0,0) 120%),url('../images/subjects/technology.jpg'); 
}
.business {
	background-image:radial-gradient(rgba(0,0,0,.7),rgba(0,0,0,.3) 90%),url('../images/subjects/business.jpg'); 
}
.language {
	background-image:radial-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5) 90%),url('../images/subjects/language.jpg'); 
}
.artsHumanities {
	background-image:radial-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3) 90%),url('../images/subjects/arts.jpeg'); 
}
.personal {
	background-image:radial-gradient(rgba(0,0,0,.7),rgba(0,0,0,.3) 90%),url('../images/subjects/personal.jpg'); 
}


.subjectItem div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


@media (min-width: 768px){
	.subjectItem div {
		height: 60px;
	}
}




/*subjects end*/


/*courses styling*/

.courses {
	margin: 15px;
	padding: 10px;
	padding-top: 0; /*needed for adjusting href*/
	border-radius: 5px;
	z-index: 1;
	position: sticky;
	top: auto;

}

.courses > div {
	margin:0;
}

.courses .card {
	padding:10px;
}

.courses > div {
	display: none;
}

.courses > div:target {
	display: flex;
	margin-top: -250px;
}

/* to adjust positioning for fixed header */
.courses > div:target::before {
	content: '';
	display: block;
	height: 250px;
	width: 100%;
	position: relative;
}


@media (min-width: 471px){
	.courses > div:target::before {
		height: 225px;
	}
	.courses > div:target {
		margin-top: -225px;
	}
}

@media (min-width: 575px){
	.courses > div:target::before {
		height: 220px;
	}
	.courses > div:target {
		margin-top: -220px;
	}
}



.card-body{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.card-text {
	font-family: 'Raleway';
	white-space: pre-line;
}

.cardbg{
	background-color: transparent;
	border-color: snow;
}

.cardbtn {
	color: snow;
    background-color: transparent;
    border-color: snow;
	transition: all .3s ease-in-out;
}

.cardbtn:hover {
	color: snow;
	background-color: rgb(150,100,70);
}



/*courses end*/


/* course items */
.cs50 {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/CS50.jpg')
}

.MITx{
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/MIT.jpg')	
}

.prog{
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.4)), url('../images/courses/ComSci/programming.jpg')	
}

.algo {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/algorithms.jpg')	
}

.webdev {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/webdevcolt.jpg')	
}

.gamedev {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/gamedev.jpg')	
}

.lynda {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/lynda.jpg')	
}
.crashcourse {
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)), url('../images/courses/ComSci/crashcourse.jpg')	
}




.card {
	background-size: cover;
	background-position: center;
	height: 300px;
}



/* course items end */



/* explore options */

.exploreOptions {
	justify-content: space-between;
	margin: 0 15px;

}

.exploreOptions > div{
	padding: 15px;
	min-width: 200px;
}



.exploreOptions > div > div{
	color: snow;
	border: 1px solid snow;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
}

.explore {
	font-size: 2rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.explore:hover{
	background-color: darkgrey;
}

.exploreFilter {
	padding: 20px;
}

.exploreOptions input {
	text-align: center;
	max-width: 100%;
	border: none;
	background: none;
	border-bottom: 1px solid darkgrey;
	color: snow;
}

input + input {
	margin-top: 15px;
}

.startdate::before, .enddate::before {
	content: attr(placeholder) !important;
	color: #aaa;
}




@media (max-width: 767.99px) {
	.expbtn {
		order: 10;
	}
}


/* explore options end */


/* groups and event */

.gne{
	margin:0;
	padding: 10px 15px;
	height: calc(100vh - 58px);
	width: 100%;
}

@media (max-width: 767px) {
	.gne{
		height: auto;
	}
}




.gne div {
	margin-bottom: 15px;
}


@media (min-width: 768px) {
	.gne {
		position: sticky;
		top: 60px;
	}	
	.gne div {
		margin-bottom: 0;
	}
}


.groups, .event {
	border: 1px solid snow;
	border-radius: 5px;
	height: calc(100vh - 62px);
	overflow: auto;
}

@media (max-width: 767px) {
	.groups, .event {
		height: 60vh;
	}
}

@media (min-width: 768px) {
	.groups::-webkit-scrollbar, .event::-webkit-scrollbar{
		width: 5px;		
	}
	
	.groups::-webkit-scrollbar-track, .event::-webkit-scrollbar-track {
		background: transparent; 
	}
	
	.groups::-webkit-scrollbar-thumb, .event::-webkit-scrollbar-thumb{
		background: #f1f1f1bb; 
		border-radius: 2px;
	}

}




.groupsTitle {
	background: radial-gradient(rgba(0,0,0,.6),rgba(0,0,0,0)),url('../images/gne/groups/group.jpg');
}


.eventsTitle {
	background: radial-gradient(rgba(0,0,0,.6),rgba(0,0,0,0)),url('../images/gne/events/events.jpg');
}


.groupsTitle, .eventsTitle {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top:0;
	z-index: 100;
}


@media (max-width: 767px) {
	.groupsTitle, .eventsTitle {
		height: 60px;
	}
}



/* groups and event end */


/* group and event items */

.itemsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	padding: 5px;

}

.flexItem {
	padding: 5px;
}

.Item {
	padding: 15px;
	border: 1px solid snow;
	border-radius: 4px;
	height: 100px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	transition: all .3s ease-in-out;
}

.Item h4 {
	font-size: 1.1rem;
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.Item > p {
	font-family: "Raleway";
	font-size: .9rem;
	white-space: pre-line;
	overflow: auto;
	padding-right: 2px;
}

.Item p::-webkit-scrollbar {
	width: 2px;		
}

.Item p::-webkit-scrollbar-track {
	background: transparent; 
}

.Item p::-webkit-scrollbar-thumb {
	background: gray; 
	border-radius: 2px;
}




.iCS50{
	background: linear-gradient(#000000bb,#000000bb), url(../images/courses/ComSci/CS50.jpg)
}
.idatasci{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/datasci.jpeg)
}
.iedtech{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/edtech.png)
}
.iDesign{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/design.jpeg)
}
.iJS{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/JS.jpeg)
}
.iKorean{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/korean.jpeg)
}
.IoT{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/iot.jpeg)
}
.ilead{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/leadership.jpeg)
}
.isilicon{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/groups/silbeach.jpeg)
}

.eMJS{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/mjs.jpeg)
}
.eMayad{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/mayad.jpg)
}
.eAWS{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/AWS.jpeg)
}
.esixSigma{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/sixsigma.jpeg)
}
.enzexpo{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/nzexpo.jpg)
}
.epse{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/pse.jpg)
}
.edevcon{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/devcon.jpg)
}
.eceitex{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/ceitex.jpg)
}

.ecanva{
	background: linear-gradient(#000000bb,#000000bb), url(../images/gne/events/canva.jpg)
}










.Item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;;
}

.Item p, .Item a {
	display: none;
} 

.Item:hover {
	height: 300px;
}

.Item:hover p, .Item:hover a {
	display: block;
}




/* group and event items end*/




/* back to top button */

.backtop {
	display: none; 
}


@media (max-width: 768px) {
	.backtop svg{
		max-width: 50px;
		max-height: 50px;
	}

	.backtop path {
		color: #f1f1f1f1;
	}


	.backtop {
		text-align: center;
		height: 65px;
		width: 100%;
		position: fixed;
		bottom: 0;
		padding-top: 7.5px;
		background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/learning.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 0 0;
		z-index: 500;
	}	

	.bton {
		display: block; 
		
	}
}


